div.hitlist-tag-container {

  & span:first-child {
    overflow: hidden;
    transition: 0.5s width ease-in-out;
    white-space: nowrap;
    display: flex;
  }
}


.hitlist-tags-container {
  display: flex;
  flex-wrap: wrap;
}
