.hitlist-tag-container {
  display: inline-flex;

  & span:first-child {
    width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s width ease-in-out;
    white-space: nowrap;
    display: block;
  }
}


.hitlist-tags-container {
  display: flex;
  flex-wrap: wrap;
}
