:root {
  /* theme colors defined*/
  --hitlist-dark-primary-color:       var(--dark-primary-color, #3f3f3f);
  --hitlist-default-primary-color:    var(--default-primary-color, #e1e4e9);
  --hitlist-light-primary-color:      var(--light-primary-color, #f0f2f5);
  --hitlist-text-primary-color:       var(--text-primary-color,#FFFFFF);
  --hitlist-dark-accent-color:        var(--dark-accent-color, #0087c4);
  --hitlist-default-accent-color:     var(--default-accent-color, #30b8f1);
  --hitlist-light-accent-color:       var(--light-accent-color, #e6f5fc);
  --hitlist-primary-background-color: var(--primary-background-color, #f6f6f6);
  --hitlist-primary-text-color:       var(--primary-text-color, #3F454C);
  --hitlist-secondary-text-color:     var(--secondary-text-color, #737B8E);
  --hitlist-disabled-text-color:      var(--disabled-text-color, #ccc);
  --hitlist-divider-color:            var(--divider-color, #ccc);
  --hitlist-light-divider-color:      var(--light-divider-color, #e1e4e9);


  /* conditional formatting colors */
  --hitlist-positive-color: var(--positive-color, #7cc700);
  --hitlist-neutral-color: var(--neutral-color, #cdd1d9);
  --hitlist-negative-color:var(--negative-color, #fd9900);

  --hitlist-font-family: var(--font-family, "Helvetica Neue", Roboto, sans-serif);

  /* `container` gives a contained effect by setting a padding on sides to push contents from edges of the screen */
  --hitlist-container:{
    padding: 0 15px;
    margin: 0 auto;
    @apply var(--container);
  };

  --hitlist-arrow-down: {
    content: " ";
    position: absolute;
    border-color: var(--hitlist-secondary-text-color) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    display: block;
    height: 0;
    width: 0;
    @apply var(--arrow-down);
  };

  /* all elements must inherit this */
  --hitlist-border-radius: var(--border-radius, 3px);

  --hitlist-transition: {
    transition-delay: 0s;
    transition-duration: .25s !important;
    transition-property: opacity,background-color,color,fill !important;
    transition-timing-function: ease-in-out !important;
    @apply var(--transition);
  };

  /* icons */
  --hitlist-icon-export: var(--icon-export, url(data:image/svg+xml,%3Csvg%20fill%3D%22%2334393f%22%20%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M19.35%2010.04C18.67%206.59%2015.64%204%2012%204%209.11%204%206.6%205.64%205.35%208.04%202.34%208.36%200%2010.91%200%2014c0%203.31%202.69%206%206%206h13c2.76%200%205-2.24%205-5%200-2.64-2.05-4.78-4.65-4.96zM17%2013l-5%205-5-5h3V9h4v4h3z%22/%3E%3C/svg%3E));
  --hitlist-icon-add: var(--icon-add, url(data:image/svg+xml,%3Csvg%20fill%3D%22%2334393f%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M19%2013h-6v6h-2v-6H5v-2h6V5h2v6h6v2z%22/%3E%3C/svg%3E));
  --hitlist-icon-filter: var(--icon-filter, url(data:image/svg+xml,%3Csvg%20fill%3D%22%2334393f%22%20viewBox%3D%220%200%2016%2012%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200l6%206v6l4-1V6l6-6z%22/%3E%3C/svg%3E));
  --hitlist-icon-hierarchy-tree: var(--icon-hierarchy-tree, url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22%2334393f%22%3E%3Cpath%20d%3D%22m21.5%205l-15.5%200%200%201.5%2015.5%200%200-1.5zm0%204.5l-9.7%200%200%201.5%209.7%200%200-1.5zM21.7%2014l-15.5%200%200%201.5%2015.5%200%200-1.5zm0%204.5l-9.7%200%200%201.5%209.7%200%200-1.5zM3%205c0%200%200.9%201.5%200.9%201.5%200%200%200.9-1.5%200.9-1.5%200%200-1.8%200-1.8%200zM3%2014c0%200%200.9%201.5%200.9%201.5%200%200%200.9-1.5%200.9-1.5%200%200-1.8%200-1.8%200z%22/%3E%3C/svg%3E));
  --hitlist-icon-hierarchy-flat: var(--icon-hierarchy-flat, url(data:image/svg+xml,%3Csvg%20fill%3D%22%2334393f%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M3%2015h18v-2H3v2zm0%204h18v-2H3v2zm0-8h18V9H3v2zm0-6v2h18V5H3z%22/%3E%3C/svg%3E));
  --hitlist-icon-search: var(--icon-search, url(data:image/svg+xml,%3Csvg%20fill%3D%22%23000000%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22/%3E%0A%3C/svg%3E));
  --hitlist-icon-face-negative: var(--icon-face-negative, url(data:image/svg+xml,%3Csvg%20fill%3D%22%23fd9900%22%20height%3D%2248%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2248%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2215.5%22%20cy%3D%229.5%22%20r%3D%221.5%22/%3E%0A%20%20%20%20%3Ccircle%20cx%3D%228.5%22%20cy%3D%229.5%22%20r%3D%221.5%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M11.99%202C6.47%202%202%206.48%202%2012s4.47%2010%209.99%2010C17.52%2022%2022%2017.52%2022%2012S17.52%202%2011.99%202zM12%2020c-4.42%200-8-3.58-8-8s3.58-8%208-8%208%203.58%208%208-3.58%208-8%208zm0-6c-2.33%200-4.32%201.45-5.12%203.5h1.67c.69-1.19%201.97-2%203.45-2s2.75.81%203.45%202h1.67c-.8-2.05-2.79-3.5-5.12-3.5z%22/%3E%0A%3C/svg%3E));
  --hitlist-icon-face-neutral: var(--icon-face-neutral, url(data:image/svg+xml,%3Csvg%20fill%3D%22%23a4a7ac%22%20height%3D%2248%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2248%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%2014h6v1.5H9z%22/%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2215.5%22%20cy%3D%229.5%22%20r%3D%221.5%22/%3E%0A%20%20%20%20%3Ccircle%20cx%3D%228.5%22%20cy%3D%229.5%22%20r%3D%221.5%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M11.99%202C6.47%202%202%206.48%202%2012s4.47%2010%209.99%2010C17.52%2022%2022%2017.52%2022%2012S17.52%202%2011.99%202zM12%2020c-4.42%200-8-3.58-8-8s3.58-8%208-8%208%203.58%208%208-3.58%208-8%208z%22/%3E%0A%3C/svg%3E));
  --hitlist-icon-face-positive: var(--icon-face-positive, url(data:image/svg+xml,%3Csvg%20fill%3D%22%237cc700%22%20height%3D%2248%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2248%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2215.5%22%20cy%3D%229.5%22%20r%3D%221.5%22/%3E%0A%20%20%20%20%3Ccircle%20cx%3D%228.5%22%20cy%3D%229.5%22%20r%3D%221.5%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M11.99%202C6.47%202%202%206.48%202%2012s4.47%2010%209.99%2010C17.52%2022%2022%2017.52%2022%2012S17.52%202%2011.99%202zM12%2020c-4.42%200-8-3.58-8-8s3.58-8%208-8%208%203.58%208%208-3.58%208-8%208zm0-4c-1.48%200-2.75-.81-3.45-2H6.88c.8%202.05%202.79%203.5%205.12%203.5s4.32-1.45%205.12-3.5h-1.67c-.7%201.19-1.97%202-3.45%202z%22/%3E%0A%3C/svg%3E));
  --hitlist-icon-comment: var(--icon-comment, url(data:image/svg+xml,%3Csvg%20fill%3D%22%23a4a7ac%22%20height%3D%2248%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2248%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M20%202H4c-1.1%200-2%20.9-2%202v18l4-4h14c1.1%200%202-.9%202-2V4c0-1.1-.9-2-2-2zm0%2014H6l-2%202V4h16v12z%22/%3E%0A%3C/svg%3E));
  --hitlist-icon-arrow-up: var(--icon-arrow-up, url(data:image/svg+xml,%3Csvg%20fill%3D%22%2334393f%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2220%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4%2012l1.41%201.41L11%207.83V20h2V7.83l5.58%205.59L20%2012l-8-8-8%208z%22/%3E%3C/svg%3E));
  --hitlist-icon-hourglass:var(--icon-hourglass, url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23a4a7ac%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6%202v6h.01L6%208.01%2010%2012l-4%204%20.01.01H6V22h12v-5.99h-.01L18%2016l-4-4%204-3.99-.01-.01H18V2H6zm10%2014.5V20H8v-3.5l4-4%204%204zm-4-5l-4-4V4h8v3.5l-4%204z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0V0z%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E));


  /* margin-unit around list elements */
  --hitlist-reportal-list-margin: var( --reportal-list-margin, 8px);

  --hitlist-reportal-input:{
    background: transparent;
    font-size: 16px;
    border: 1px solid var(--hitlist-divider-color);
    border-radius: var(--hitlist-border-radius,3px);
    position:relative;
    z-index:1;
    padding: 5px;
    @apply var(--reportal-input);
  };
  
  --hitlist-reportal-button:{
    -webkit-appearance: button;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    user-select: none;
    @apply --hitlist-transition;
    background-color: transparent;
    height: 30px;
    line-height: 20px;
    position: relative;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: var(--hitlist-border-radius,3px);
    font-weight: 400;
    @apply var(--reportal-button);
  };
}
